@tailwind base;
@tailwind components;
@tailwind utilities;


body {

}

@layer utilities {
}


@keyframes rotate-hue {
  0% {
    filter: hue-rotate(540deg) saturate(7.3);
  }
  50% {
  }
  100% {
    filter: hue-rotate(180deg) saturate(7.3);
  }
}

.rainbow-cover {
  pointer-events: none;
  position: absolute;
  z-index: 50;
  left: 0;
  /* animation: rotate-hue 120s ease-out infinite; */
}
.rainbow-content {
  filter: blur(30px) saturate(7) hue-rotate(0deg);
  opacity: 0.35;
}

.dark .rainbow-content {
  opacity: 0.2;
}
