---
interface Props {
  title: string
  url: string
  date?: string
}

const { title, url, date } = Astro.props
---

<li class="list-none mb-3">

  <a href={url}>
    <div class="mb-0.5 text-pretty font-sans text-xl font-medium text-gray-800 transition-colors hover:text-black dark:text-gray-100 dark:hover:text-white">
      {title}
    </div>
  </a>
  <div class="flex gap-1.5 pb-2 text-sm text-gray-400 dark:text-gray-500">
    <time datetime={date}>{date}</time>
  </div>
</li>
