---
const greetingEnglish = ['Hi', 'Hello', 'Howdy', 'Hey there']
const greetingChinese = ['你好', '嗨', '哈喽']
const messages = [...greetingEnglish, ...greetingChinese]
const greeting = messages[Math.floor(Math.random() * messages.length)]
---

<div>
  <h3>
    <span
      class="inline-flex items-center px-4 py-1 font-bold rounded-full bg-indigo-100 text-indigo-800 transform -rotate-3"
    >
      {greeting} !
    </span>
    <span> Thank you for visiting!</span>
  </h3>
</div>
