---
import { ModeToggle } from '@/components/ModeToggle'
import { NavMenu } from '@/components/NavMenu'
import { Button } from '@/components/ui/button'
import { Github } from 'lucide-react'

const menuList = [
  { href: '/', title: '首页' },
  { href: '/blog', title: '博客' },
  { href: '/about', title: '关于' },
]
---

<header
  class="mx-auto flex max-w-4xl items-center justify-between gap-5 pt-8 font-medium text-gray-600"
>
  <nav class="mix-blend-luminosity">
    <NavMenu menu={menuList} />
  </nav>

  <div class="flex">
    <Button variant="outline" size="icon" title="Github">
      <a href="https://github.com/simonwong">
        <Github className="h-4 w-4" />
      </a>
    </Button>
    <ModeToggle client:load />
  </div>
</header>
