---

---

<div
  class="rainbow-cover flex justify-center pointer-events-none absolute max-w-4xl mx-auto"
>
  <div
    class="gap-15 pointer-events-none flex -rotate-45 justify-center opacity-50 -mt-20"
  >
    <div class="h-60 w-8 bg-red-500"></div>
    <div class="h-60 w-8 bg-orange-500"></div>
    <div class="h-60 w-8 bg-yellow-500"></div>
    <div class="h-60 w-8 bg-green-500"></div>
    <div class="h-60 w-8 bg-cyan-500"></div>
    <div class="h-60 w-8 bg-blue-500"></div>
    <div class="h-60 w-8 bg-purple-500"></div>
  </div>
</div>
<!-- style="filter: blur(30px) saturate(7) hue-rotate(0deg);" -->
